{% extends 'main.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        /* Left-Right Columns will take 1 fraction. Middle one will take 3 being the largest */
    }
</style>

<div class="home-container">
    <!-- Topics list section -->
    <div>
        {% include 'base/topics_component.html' %}
    </div>

    <!-- Rooms list section -->
    <div>
        <h5>{{room_count_info}}</h5>
        <a href="{% url 'create-room' %}">Create a Room</a>

        {% include 'base/feed_component.html' %}
    </div>

    <!-- Recent activity feed section -->
    <div class="feed-container">
        {% include 'base/activity_component.html' %}
    </div>

</div>

{% endblock content %}